.cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--mainWhite);
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
  }
  .clear-cart {
    background: var(--mainGrey);
  }
  .cart-container h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin: 2rem 0;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 15rem;
    height: 15rem;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .btn-yourcart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 13rem;
  }
  .remove-cart-btn {
    background: var(--mainGrey);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    cursor: pointer;
  }
  .move-wishlist-btn {
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    cursor: pointer;
  }
  .item-amount {
    text-align: center;
  }
  .percent {
    color: var(--primaryColor);
    padding: 0.3rem 0;
  }
  .increment,
  .decrement {
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 1.6rem;
  }
  
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    border: 1px solid var(--primaryColor);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    padding: 1rem;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .cart-footer .clear-cart {
    margin-bottom: 3rem;
  }
  .cart-footer .price-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  .price-data div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .savings {
    padding: 1rem;
  }
  .empty-cart{
    margin:5rem auto;
    text-align: center;
  }
  .padding-sm{
    padding: 1rem 0;
  }
  /* --------------- End of Cart ---------------- */
  @media screen and (max-width: 450px) {
    .cart {
      top: 9rem;
    }
    .cart-item img {
      width: 8rem;
      height: 8rem;
    }
    .cart-item div {
      width: 100%;
    }
    .cart-footer {
      margin: auto;
    }
    .cart-item {
      grid-column-gap: 0.4rem;
    }
    .banner-btn1 {
      width: 230px;
      margin-bottom: 4rem;
    }
  }
  