:root {
    --primaryColor: #1276a5;
    --secondaryColor: #cf443f;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --main-bg: #043044;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  /* hero  */
  .hero-slides {
    min-height: 30rem;
    min-height: calc(100vh-4.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-slide1 {
    background: url(../../assets/images/img-1/hero.jpg) center/cover no-repeat;
  }
  
  .banner1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  
  .banner-title1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  
  .banner-btn1 {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
  }
  
  .banner-btn1:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  
  /* end of hero */
  /* products */
  .products {
    padding: 4rem 0;
  }
  
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  
  .products-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  
  .img-container {
    position: relative;
    overflow: hidden;
  }
  
  .bag-wishlist {
    position: absolute;
    top: 60%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    cursor: pointer;
  }
  
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    cursor: pointer;
  }
  
  .bag-btn-2 {
    background: var(--secondaryColor);
  }
  .rating-btn {
    background: var(--secondaryColor);
    color: var(--mainWhite);
    border-radius: 3px;
    padding: 0 2px;
  }
  .bag-btn:hover,
  .bag-wishlist:hover {
    color: var(--mainWhite);
  }
  
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
  }
  
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h5 {
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  .our-products .product-img {
    border-radius: 2rem;
    margin-bottom: 1rem;
  }
  /* / responsive navbar  */
  @media screen and (max-width: 450px) {
    .docnav-bar {
      height: 9rem;
    }
    .hero h1 {
      font-size: 2.2rem;
    }
    .our-products .product,
    .products .product,
    .hero h1,
    .section-title h2 {
      width: 70%;
      padding-left: 2rem;
    }
  }
  